site_name: Java 循序渐进
site_url: https://squid233.github.io/java-tutorial/
repo_url: https://github.com/squid233/java-tutorial
repo_name: squid233/java-tutorial
edit_uri: blob/main/docs/
site_description: 本书将教你学会 Java 的基本语法和功能。
site_author: squid233
copyright: Copyright © 2024-2025 squid233. Licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noreferrer noopener" style="text-decoration:underline;">CC BY-NC-SA 4.0</a>.

nav:
  - 前言: index.md
  - 第一章：基础知识:
      - 01-basic/index.md
      - 01-basic/01-setup.md
      - 01-basic/02-jshell.md
      - 01-basic/03-ide.md
      - 01-basic/04-hello-world.md
      - 01-basic/05-variable.md
      - 01-basic/06-operator.md
      - 01-basic/07-condition.md
      - 01-basic/08-loop.md
      - 01-basic/09-array.md
      - 01-basic/10-method.md
  - 第二章：面向对象:
      - 02-object/index.md
      - 02-object/package.md
      - 02-object/class.md
  - 附录:
      - 关于: about.md

draft_docs: |
  02-object/*

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: 切换到浅色模式
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: red
      toggle:
        icon: material/brightness-7
        name: 切换到深色模式
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      toggle:
        icon: material/brightness-4
        name: 切换到系统偏好
  language: zh
  features:
    - content.code.copy
    - content.tooltips
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.expand
    - navigation.indexes
    - navigation.footer
    - navigation.top
  icon:
    repo: fontawesome/brands/github

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - css/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css

markdown_extensions:
  - abbr
  - attr_list
  - footnotes
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.blocks.admonition
  - pymdownx.blocks.details
  - pymdownx.caret
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tilde
  - toc:
      permalink: "#"
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
